<!-- <ul>
  <li *ngFor="let item of data">
      <p>{{item.postId}}</p>
      <p>{{item.id}}</p>
      <p>{{item.name}}</p>
      <p>{{item.email}}</p>
      <p>{{item.body}}</p>
  </li>
</ul> -->


<div>
  <table>
    <thead>
      <tr>
      <th scope="col">postId</th>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">body</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td >{{item.postId}}</td>
        <td >{{item.id}}</td>
        <td >{{item.name}}</td>
        <td >{{item.email}}</td>
        <td >{{item.body}}</td>
      </tr>
    </tbody>
  </table>
</div>


<button  (click)="evtCreateNewTV()">Create</button> 
<br><br>


<input type= "text" [(ngModel)] = "gettv" />
<button  (click)="findbyid(gettv)">Search</button> 
<br><br>

<button (click)="updatetvdata(gettv)">UpdateData</button>|
<br><br>
<button (click)="PatchTV(gettv)">Patch</button>|
<br><br>
<button (click)="DeleteTv(gettv)">DeleteTV</button>|



